body{
    background: #000;
    text-align: center;
}

h1{
    color: #fff;
    font-family:  monospace;
}

#mycanvas{
    background-color: rgb(86, 255, 86);
}

button {
      all: unset;
      color: rgb(11, 11, 11);
      font-family: monospace;
      text-shadow: 0 0 5px #0f0;
      box-shadow: 0 0 10px #0f0;
      cursor: pointer;
      transition: transform 0.1s ease, box-shadow 0.2s ease;
      background: linear-gradient(to bottom, #8ff985, #156801);
      margin-top: 7px;
      padding: 15px;
      margin: 10px;
      padding-top: 7px;
      padding-left: 12px;
      padding-right: 12px;
      padding-bottom: 7px;
      border-radius: 100px;
      font-size: 12px;
    }

button:active {
      transform: scale(0.951);
      box-shadow: 0 0 5px #0f0;
      background: linear-gradient(to bottom, #f9f9f9, #198900);
      color: #000;
    }
